doctype html
html(lang="es-CO")
  head
    meta(charset="UTF-8")
    meta(author="estiven0425")
    meta(description="TALCOS Yarumal es un software de gestión de inventario y monitoreo de datos privado realizado para la empresa TALCOS de YARUMAL S.A.S como proyecto de etapa práctica de Estiven Montoya Torres.")
    meta(viewport="width=device-width, initial-scale=1.0")
    title TALCOS Yarumal
  body
    h1= message
