.generateReportList {
  align-content: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  overflow: auto;
}

.generateReportListButton {
  align-content: center;
  align-items: center;
  background-color: #0037ae;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  outline: transparent 1px solid;
  padding: 10px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.generateReportListButton:hover {
  background-color: #0048b6;
}

.generateReportListButton:focus {
  background-color: #0048b6;
}

.generateReportListButton h2 {
  font-size: 1.5rem;
  margin: 0px;
  text-align: center;
}

.generateReportListButton img {
  height: 2rem;
  width: 2rem;
}
