.generateNoveltyStrikeOptionButtonHeader {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 10px;
  height: 30%;
  width: 100%;
}

.generateNoveltyStrikeOptionButtonHeader button {
  align-content: center;
  align-items: center;
  background-color: #0037ae;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  outline: transparent 1px solid;
  padding: 25px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  width: 30%;
}

.generateNoveltyStrikeOptionButtonHeader button:hover {
  background-color: #0048b6;
}

.generateNoveltyStrikeOptionButtonHeader button:focus {
  background-color: #0048b6;
  outline: #0048b6 1px solid;
}

.generateNoveltyStrikeOptionButtonHeader button h2 {
  font-size: 1.5rem;
  margin: 0px;
  text-align: center;
}

.generateNoveltyStrikeOptionButtonHeader button img {
  height: 3rem;
  width: 3rem;
}
