.homeFreighters {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
    height: 100%;
}

.homeFreightersPrimary,
.homeFreightersSecondary {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
}

.homeFreightersPrimaryHeader,
.homeFreightersSecondaryHeader {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

    .homeFreightersPrimaryHeader h1,
    .homeFreightersSecondaryHeader h1 {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0px;
        text-align: center;
    }

.homeFreightersPrimaryMain,
.homeFreightersSecondaryMain {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
}

    .homeFreightersPrimaryMain div,
    .homeFreightersSecondaryMain div {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }

        .homeFreightersPrimaryMain div h2,
        .homeFreightersSecondaryMain div h2,
        .homeFreightersPrimaryMain div p,
        .homeFreightersSecondaryMain div p {
            font-size: 1rem;
            margin: 0px;
            text-align: center;
        }

    .homeFreightersPrimaryMain::-webkit-scrollbar,
    .homeFreightersSecondaryMain::-webkit-scrollbar {
        width: 10px;
    }

    .homeFreightersPrimaryMain::-webkit-scrollbar-track,
    .homeFreightersSecondaryMain::-webkit-scrollbar-track {
        background: #0037AE;
        border-radius: 10px;
    }

    .homeFreightersPrimaryMain::-webkit-scrollbar-thumb,
    .homeFreightersSecondaryMain::-webkit-scrollbar-thumb {
        background: #0095DC;
        border-radius: 10px;
    }

.homeFreightersAlternative {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.loader {
    animation: spin 1s linear infinite;
    border: 5px solid #0048B6;
    border-radius: 50%;
    border-top: 5px solid transparent;
    height: 20px;
    margin: -7.5px auto 0px;
    width: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}