.homeStateShift {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
}

.homeStateShiftHeader {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.homeStateShiftHeader h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0px;
  text-align: center;
}

.homeStateShiftMain {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  overflow: auto;
}

.homeStateShiftMain div {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.homeStateShiftMain div h2,
.homeStateShiftMain div p {
  font-size: 1rem;
  margin: 0px;
  text-align: center;
}

.homeStateShiftMainIcon {
  color: #0ec839;
  font-size: 1rem;
}

.homeStateShiftMainIconAlternative {
  color: #c80e0e;
  font-size: 1rem;
}

.homeStateShiftAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #0048b6;
  border-radius: 50%;
  border-top: 5px solid transparent;
  box-sizing: border-box;
  height: 20px;
  margin: -7.5px auto 0px;
  width: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
