.inventoryWindmillButtonHeader {
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    height: 30%;
    width: 100%;
}

    .inventoryWindmillButtonHeader button {
        align-content: center;
        align-items: center;
        background-color: #0037AE;
        border: none;
        border-radius: 20px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: center;
        outline: transparent 1px solid;
        padding: 25px;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        width: 30%;
    }

        .inventoryWindmillButtonHeader button:hover {
            background-color: #0048B6;
        }

        .inventoryWindmillButtonHeader button:focus {
            background-color: #0048B6;
            outline: #0048B6 1px solid;
        }

        .inventoryWindmillButtonHeader button h2 {
            font-size: 1.5rem;
            margin: 0px;
            text-align: center;
        }

        .inventoryWindmillButtonHeader button img {
            height: 3rem;
            width: 3rem;
        }