.inventorytListEditTableHeader {
  box-sizing: border-box;
  width: 100%;
}

.inventorytListEditTableHeader h1 {
  font-size: 1.5rem;
  margin: 0px;
  text-align: center;
}

.inventorytListEditTableMain {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.inventorytListEditTableMainTable {
  border-collapse: separate;
  border-spacing: 0px 10px;
  width: 100%;
}

.inventorytListEditTableMainTableHead,
.inventorytListEditTableMainTableBody {
  width: 100%;
}

.inventorytListEditTableMainTableHead tr,
.inventorytListEditTableMainTableBody tr {
  width: 100%;
}

.inventorytListEditTableMainTableHead tr th {
  font-size: 1rem;
  text-align: center;
  width: 33.33%;
}

.inventorytListEditTableMainTableBody tr {
  cursor: pointer;
  outline: transparent 1px solid;
  transition: all 0.5s ease-in-out;
}

.inventorytListEditTableMainTableBody tr:hover,
.inventorytListEditTableMainTableBody tr:focus {
  background-color: #0048b6;
}

.inventorytListEditTableMainTableBody tr td {
  font-size: 1rem;
  text-align: center;
  width: 33.33%;
}

.inventorytListEditTableMainTableBody tr td:first-child {
  border-radius: 20px 0px 0px 20px;
}

.inventorytListEditTableMainTableBody tr td:last-child {
  border-radius: 0px 20px 20px 0px;
}

.inventorytListEditTableMainAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.inventorytListEditTableMainAlternative h2 {
  margin: 0px;
  text-align: center;
}

.inventorytListEditTableFooter {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.inventorytListEditTableFooter button {
  background-color: #0037ae;
  border-color: transparent;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  max-height: 49px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.inventorytListEditTableFooter button:hover {
  background: #0095dc;
}

.inventorytListEditTableFooter button:focus {
  outline: #0095dc 1px solid;
}

.inventorytListEditTableMain::-webkit-scrollbar {
  width: 10px;
}

.inventorytListEditTableMain::-webkit-scrollbar-track {
  background: #0037ae;
  border-radius: 10px;
}

.inventorytListEditTableMain::-webkit-scrollbar-thumb {
  background: #0095dc;
  border-radius: 10px;
}
