.inventoryListProfileHeader {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.inventoryListProfileHeader h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

.inventoryListProfileMain {
  box-sizing: border-box;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  overflow: auto;
  width: 100%;
}

.inventoryListProfileMainButton {
  align-content: center;
  align-items: center;
  background-color: #0037ae;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  outline: transparent 1px solid;
  padding: 25px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.inventoryListProfileMainButton:hover {
  background-color: #0048b6;
}

.inventoryListProfileMainButton:focus {
  background-color: #0048b6;
}

.inventoryListProfileMainButton h2 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.inventoryListProfileMainButton img {
  height: 3rem;
  width: 3rem;
}
