.inventoryCreateFormAlternative {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.inventoryCreateForm {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.inventoryCreateFormHeader {
  box-sizing: border-box;
  width: 100%;
}

.inventoryCreateFormHeader h1,
.inventoryCreateFormAlternative h1 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.inventoryCreateFormMain {
  align-content: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: flex-start;
  height: 100%;
}

.inventoryCreateFormMain fieldset {
  align-content: stretch;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0;
}

.inventoryCreateFormMain fieldset label {
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
}

.inventoryCreateFormMain fieldset input {
  border-color: transparent;
  border-radius: 20px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.inventoryCreateFormFooter {
  align-content: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
}

.inventoryCreateFormFooter button {
  background-color: #0037ae;
  border-color: transparent;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  max-height: 49px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.inventoryCreateFormFooter button:hover {
  background-color: #0048b6;
}

.inventoryCreateFormFooter button:focus {
  background-color: #0048b6;
}

.inventoryCreateFormMain fieldset input:focus {
  outline: #0095dc 1px solid;
}

.inventoryCreateFormValidation {
  text-align: left;
  transition: all 0.5s ease-in-out;
}

.inventoryCreateFormValidationServer {
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #0048b6;
  border-radius: 50%;
  border-top: 5px solid transparent;
  height: 20px;
  margin: -7.5px auto 0;
  width: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
