.inventoryRawMaterialRegisterListDetailPrimary {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  height: 100%;
  justify-content: flex-start;
  overflow: auto;
  padding: 10px;
  width: 70%;
}

.inventoryRawMaterialRegisterListDetailPrimaryTable {
  border-collapse: separate;
  border-spacing: 0px 10px;
  width: 100%;
}

.inventoryRawMaterialRegisterListDetailPrimaryTable caption {
  font-size: 1rem;
  text-align: left;
}

.inventoryRawMaterialRegisterListDetailPrimaryTable caption h2 {
  display: inline;
  font-size: 1.5rem;
  margin: 0px;
}

.inventoryRawMaterialRegisterListDetailPrimaryTableHead,
.inventoryRawMaterialRegisterListDetailPrimaryTableBody,
.inventoryRawMaterialRegisterListDetailPrimaryTableFooter {
  width: 100%;
}

.inventoryRawMaterialRegisterListDetailPrimaryTableHead tr,
.inventoryRawMaterialRegisterListDetailPrimaryTableBody tr,
.inventoryRawMaterialRegisterListDetailPrimaryTableFooter tr {
  width: 100%;
}
.inventoryRawMaterialRegisterListDetailPrimaryTableHead tr th {
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
  width: 16.66%;
}

.inventoryRawMaterialRegisterListDetailPrimaryTableFooter tr th {
  padding-top: 15px;
  vertical-align: baseline;
  text-align: center;
}

.inventoryRawMaterialRegisterListDetailPrimaryTableBody tr td {
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
  width: 16.66%;
}

.inventoryRawMaterialRegisterListDetailPrimaryTableFooter tr td {
  font-size: 1rem;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
}

.inventoryRawMaterialRegisterListSecondary {
  align-content: stretch;
  background-color: #0037ae;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  padding: 10px;
  width: 30%;
}
