.inventoryListDeleteTableHeader {
  box-sizing: border-box;
  width: 100%;
}

.inventoryListDeleteTableHeader h1 {
  font-size: 1.5rem;
  margin: 0px;
  text-align: center;
}

.inventoryListDeleteTableMain {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.inventoryListDeleteTableMainTable {
  border-collapse: separate;
  border-spacing: 0px 10px;
  width: 100%;
}

.inventoryListDeleteTableMainTableHead,
.inventoryListDeleteTableMainTableBody {
  width: 100%;
}

.inventoryListDeleteTableMainTableHead tr,
.inventoryListDeleteTableMainTableBody tr {
  width: 100%;
}

.inventoryListDeleteTableMainTableHead tr th {
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
  width: 33.33%;
}

.inventoryListDeleteTableMainTableBody tr {
  cursor: pointer;
  outline: transparent 1px solid;
  transition: all 0.5s ease-in-out;
}

.inventoryListDeleteTableMainTableBody tr:hover,
.inventoryListDeleteTableMainTableBody tr:focus {
  background-color: #0048b6;
}

.inventoryListDeleteTableMainTableBody tr td {
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
  width: 33.33%;
}

.inventoryListDeleteTableMainTableBody tr td:first-child {
  border-radius: 20px 0px 0px 20px;
}

.inventoryListDeleteTableMainTableBody tr td:last-child {
  border-radius: 0px 20px 20px 0px;
}

.inventoryListDeleteTableMainAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.inventoryListDeleteTableMainAlternative h2 {
  margin: 0px;
  text-align: center;
}

.inventoryListDeleteTableFooter {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.inventoryListDeleteTableFooter button {
  background-color: #0037ae;
  border-color: transparent;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  max-height: 49px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.inventoryListDeleteTableFooter button:hover {
  background: #0095dc;
}

.inventoryListDeleteTableFooter button:focus {
  outline: #0095dc 1px solid;
}

.inventoryListDeleteTableMain::-webkit-scrollbar {
  width: 10px;
}

.inventoryListDeleteTableMain::-webkit-scrollbar-track {
  background: #0037ae;
  border-radius: 10px;
}

.inventoryListDeleteTableMain::-webkit-scrollbar-thumb {
  background: #0095dc;
  border-radius: 10px;
}
