.loginForm {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  max-width: 335px;
  transition: all 0.5s ease-in-out;
}

.loginFormHeader {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.loginFormHeader h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.loginFormMain {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
}

.loginFormMain input {
  border-color: transparent;
  border-radius: 20px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.loginFormFooter {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.loginFormFooter button {
  background-color: #0037ae;
  border-color: transparent;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  max-height: 49px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.loginFormFooter button:hover {
  background-color: #0048b6;
}

.loginFormFooter button:focus {
  background-color: #0048b6;
}

.loginFormMain input:focus {
  outline: #0095dc 1px solid;
}

.loginFormValidation {
  color: #fffb00;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #0048b6;
  border-radius: 50%;
  border-top: 5px solid transparent;
  height: 20px;
  margin: -7.5px auto 0;
  width: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
