.loginForm {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.loginFormHeader {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 10px;
}

    .loginFormHeader h1 {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0px;
    }

.loginFormMain {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

    .loginFormMain input {
        border-color: transparent;
        border-radius: 20px;
        outline: transparent 1px solid;
        padding: 15px 10px;
        width: 92.5%;
    }

.loginFormFooter {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

    .loginFormFooter button {
        background-color: #0037AE;
        border-color: transparent;
        border-radius: 20px;
        color: #ffffff;
        cursor: pointer;
        max-height: 49px;
        outline: transparent 1px solid;
        padding: 15px 10px;
        transition: all 0.5s ease-in-out;
        width: 100%;
    }

        .loginFormFooter button:hover {
            background: #0095DC;
        }

        .loginFormMain input:focus,
        .loginFormFooter button:focus {
            outline: #0095DC 1px solid;
        }

.loginFormValidation {
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.loader {
    animation: spin 1s linear infinite;
    border: 5px solid #0048B6;
    border-radius: 50%;
    border-top: 5px solid transparent;
    height: 20px;
    margin: -7.5px auto 0px;
    width: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}