.logOutMain {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
}

.logOutMain h1 {
  font-size: 1.5rem;
  text-align: center;
}

.logOutFooter {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.logOutFooter button {
  background-color: #0037ae;
  border-color: transparent;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  outline: transparent 1px solid;
  padding: 15px 60px;
  transition: all 0.5s ease-in-out;
}

.logOutFooter button:hover {
  background-color: #0048b6;
}

.logOutFooter button:focus {
  background-color: #0048b6;
}

.logOutAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.logOutAlternative h1 {
  margin: 0;
  text-align: center;
}
