.monitoringListPrimary {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  height: 100%;
  justify-content: flex-start;
  overflow: auto;
  padding: 10px;
  width: 70%;
}

.monitoringListSecondary {
  align-content: stretch;
  background-color: #0037ae;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  padding: 10px;
  width: 30%;
}
