.monitoringViewTableListEfficiencyAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  overflow: auto;
  width: 100%;
}

.monitoringViewTableListEfficiencyTable {
  border-collapse: collapse;
  width: 100%;
}

.monitoringViewTableListEfficiencyTable caption {
  font-size: 1rem;
  text-align: left;
}

.monitoringViewTableListEfficiencyTable caption h2 {
  display: inline;
  font-size: 1.5rem;
  left: 0;
  margin: 0;
  position: sticky;
}

.monitoringViewTableListEfficiencyTableHead,
.monitoringViewTableListEfficiencyTableBody,
.monitoringViewTableListEfficiencyTableFooter {
  width: 100%;
}

.monitoringViewTableListEfficiencyTableHead tr,
.monitoringViewTableListEfficiencyTableBody tr,
.monitoringViewTableListEfficiencyTableFooter tr {
  width: 100%;
}

.monitoringViewTableListEfficiencyTableHead tr th {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  vertical-align: baseline;
}

.monitoringViewTableListEfficiencyTableBody tr td,
.monitoringViewTableListEfficiencyTableFooter tr td {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  vertical-align: baseline;
  min-width: 100px;
}

.monitoringViewTableListEfficiencyTableHead tr th:first-child,
.monitoringViewTableListEfficiencyTableBody tr td:first-child,
.monitoringViewTableListEfficiencyTableFooter tr td:first-child {
  backdrop-filter: blur(10px);
  position: sticky;
  left: -10px;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #0048b6;
  border-radius: 50%;
  border-top: 5px solid transparent;
  height: 20px;
  margin: -7.5px auto 0;
  width: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
