.monitoringViewTableListCommercialBudgetAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  overflow: auto;
  width: 100%;
}

.monitoringViewTableListCommercialBudgetTable {
  border-collapse: separate;
  border-spacing: 10px;
  width: 100%;
}

.monitoringViewTableListCommercialBudgetTable caption {
  font-size: 1rem;
  text-align: left;
}

.monitoringViewTableListCommercialBudgetTable caption h2 {
  display: inline;
  font-size: 1.5rem;
  left: 0;
  margin: 0;
  position: sticky;
}

.monitoringViewTableListCommercialBudgetTableHead,
.monitoringViewTableListCommercialBudgetTableBody,
.monitoringViewTableListCommercialBudgetTableFooter {
  width: 100%;
}

.monitoringViewTableListCommercialBudgetTableHead tr,
.monitoringViewTableListCommercialBudgetTableBody tr,
.monitoringViewTableListCommercialBudgetTableFooter tr {
  width: 100%;
}
.monitoringViewTableListCommercialBudgetTableHead tr th {
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
}

.monitoringViewTableListCommercialBudgetTableBody tr td,
.monitoringViewTableListCommercialBudgetTableFooter tr td {
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
  min-width: 100px;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #0048b6;
  border-radius: 50%;
  border-top: 5px solid transparent;
  height: 20px;
  margin: -7.5px auto 0;
  width: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
