.monitoringListEfficiencyAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  overflow: auto;
  width: 100%;
}

.monitoringListEfficiencyTable {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.monitoringListEfficiencyTable caption {
  font-size: 1rem;
  text-align: left;
}

.monitoringListEfficiencyTable caption h2 {
  display: inline;
  font-size: 1.5rem;
  margin: 0;
}

.monitoringListEfficiencyTableHead,
.monitoringListEfficiencyTableBody {
  width: 100%;
}

.monitoringListEfficiencyTableHead tr,
.monitoringListEfficiencyTableBody tr {
  width: 100%;
}
.monitoringListEfficiencyTableHead tr th {
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
}

.monitoringListEfficiencyTableBody tr td {
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #0048b6;
  border-radius: 50%;
  border-top: 5px solid transparent;
  height: 20px;
  margin: -7.5px auto 0;
  width: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
