.notificationMessageSendHeader {
    align-content: center;
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

    .notificationMessageSendHeader h1 {
        font-size: 1.5rem;
        margin: 0px;
        text-align: center;
    }

.notificationMessageSendMain {
    align-content: center;
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
}

.notificationMessageSendMainAlternative {
    align-content: center;
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.notificationMessageSendMainAlternative p {
    font-size: 1rem;
    margin: 0px;
    text-align: center;
}