.staffListEditUserTableHeader {
  box-sizing: border-box;
  width: 100%;
}

.staffListEditUserTableHeader h1 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.staffListEditUserTableMain {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.staffListEditUserTableMainTable {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}

.staffListEditUserTableMainTableHead,
.staffListEditUserTableMainTableBody {
  width: 100%;
}

.staffListEditUserTableMainTableHead tr,
.staffListEditUserTableMainTableBody tr {
  width: 100%;
}

.staffListEditUserTableMainTableHead tr th {
  font-size: 1rem;
  vertical-align: baseline;
  text-align: center;
}

.staffListEditUserTableMainTableBody tr {
  cursor: pointer;
  outline: transparent 1px solid;
  transition: all 0.5s ease-in-out;
}

.staffListEditUserTableMainTableBody tr:hover,
.staffListEditUserTableMainTableBody tr:focus {
  background-color: #0048b6;
}

.staffListEditUserTableMainTableBody tr td {
  font-size: 1rem;
  vertical-align: baseline;
  text-align: center;
}

.staffListEditUserTableMainTableBody tr td:first-child {
  border-radius: 20px 0 0 20px;
}

.staffListEditUserTableMainTableBody tr td:last-child {
  border-radius: 0 20px 20px 0;
}

.staffListEditUserTableMainAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.staffListEditUserTableMainAlternative h2 {
  margin: 0;
  text-align: center;
}

.staffListEditUserTableFooter {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.staffListEditUserTableFooter button {
  background-color: #0037ae;
  border-color: transparent;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  max-height: 49px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.staffListEditUserTableFooter button:hover {
  background-color: #0048b6;
}

.staffListEditUserTableFooter button:focus {
  background-color: #0048b6;
}
