.staffDeleteUserConfirmationAlternative {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.staffDeleteUserConfirmation {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.staffDeleteUserConfirmationMain {
  align-content: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.staffDeleteUserConfirmationMain h1 {
  text-align: center;
}

.staffDeleteUserConfirmationFooter {
  align-content: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
}

.staffDeleteUserConfirmationFooter button {
  background-color: #0037ae;
  border-color: transparent;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  max-height: 49px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.staffDeleteUserConfirmationFooter button:hover {
  background: #0095dc;
}

.staffDeleteUserConfirmationFooter button:focus {
  outline: #0095dc 1px solid;
}

.staffDeleteUserConfirmationValidationServer {
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #0048b6;
  border-radius: 50%;
  border-top: 5px solid transparent;
  height: 20px;
  margin: -7.5px auto 0px;
  width: 20px;
}

.staffDeleteUserConfirmation::-webkit-scrollbar {
  width: 10px;
}

.staffDeleteUserConfirmation::-webkit-scrollbar-track {
  background: #0037ae;
  border-radius: 10px;
}

.staffDeleteUserConfirmation::-webkit-scrollbar-thumb {
  background: #0095dc;
  border-radius: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
