.staffListDeleteUserTableHeader {
  box-sizing: border-box;
  width: 100%;
}

.staffListDeleteUserTableHeader h1 {
  font-size: 1.5rem;
  margin: 0px;
  text-align: center;
}

.staffListDeleteUserTableMain {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.staffListDeleteUserTableMainTable {
  border-collapse: separate;
  border-spacing: 0px 10px;
  width: 100%;
}

.staffListDeleteUserTableMainTableHead,
.staffListDeleteUserTableMainTableBody {
  width: 100%;
}

.staffListDeleteUserTableMainTableHead tr,
.staffListDeleteUserTableMainTableBody tr {
  width: 100%;
}

.staffListDeleteUserTableMainTableHead tr th {
  font-size: 1rem;
  text-align: center;
}

.staffListDeleteUserTableMainTableBody tr {
  cursor: pointer;
  outline: transparent 1px solid;
  transition: all 0.5s ease-in-out;
}

.staffListDeleteUserTableMainTableBody tr:hover,
.staffListDeleteUserTableMainTableBody tr:focus {
  background-color: #0048b6;
}

.staffListDeleteUserTableMainTableBody tr td {
  font-size: 1rem;
  text-align: center;
}

.staffListDeleteUserTableMainTableBody tr td:first-child {
  border-radius: 20px 0px 0px 20px;
}

.staffListDeleteUserTableMainTableBody tr td:last-child {
  border-radius: 0px 20px 20px 0px;
}

.staffListDeleteUserTableMainAlternative {
  align-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.staffListDeleteUserTableMainAlternative h2 {
  margin: 0px;
  text-align: center;
}

.staffListDeleteUserTableFooter {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.staffListDeleteUserTableFooter button {
  background-color: #0037ae;
  border-color: transparent;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  max-height: 49px;
  outline: transparent 1px solid;
  padding: 15px;
  transition: all 0.5s ease-in-out;
}

.staffListDeleteUserTableFooter button:hover {
  background: #0095dc;
}

.staffListDeleteUserTableFooter button:focus {
  outline: #0095dc 1px solid;
}

.staffListDeleteUserTableMain::-webkit-scrollbar {
  width: 10px;
}

.staffListDeleteUserTableMain::-webkit-scrollbar-track {
  background: #0037ae;
  border-radius: 10px;
}

.staffListDeleteUserTableMain::-webkit-scrollbar-thumb {
  background: #0095dc;
  border-radius: 10px;
}
