.inventoryReference {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
}

.inventoryReferenceMain {
  align-content: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
}

.inventoryReferenceMain::-webkit-scrollbar {
  width: 10px;
}

.inventoryReferenceMain::-webkit-scrollbar-track {
  background: #0037ae;
  border-radius: 10px;
}

.inventoryReferenceMain::-webkit-scrollbar-thumb {
  background: #0095dc;
  border-radius: 10px;
}
