.setting {
    align-content: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
