.staffListEditUser {
    align-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.staffListEditUserHeader {
    box-sizing: border-box;
    width: 100%
}

    .staffListEditUserHeader h1 {
        font-size: 1.5rem;
        margin: 0px;
        text-align: center;
    }

.staffListEditUserMain {
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.staffListEditUserMainTable {
    border-collapse: separate;
    border-spacing: 0px 10px;
    width: 100%;
}

.staffListEditUserMainTableHead,
.staffListEditUserMainTableBody {
    width: 100%;
}

    .staffListEditUserMainTableHead tr,
    .staffListEditUserMainTableBody tr {
        width: 100%;
    }

        .staffListEditUserMainTableHead tr th {
            font-size: 1rem;
            text-align: center;
        }

    .staffListEditUserMainTableBody tr {
        cursor: pointer;
        outline: transparent 1px solid;
        transition: all 0.5s ease-in-out;
    }

        .staffListEditUserMainTableBody tr:hover,
        .staffListEditUserMainTableBody tr:focus {
            background-color: #0048B6;
        }


            .staffListEditUserMainTableBody tr td {
                font-size: 1rem;
                padding: 5px;
                text-align: center;
            }

        .staffListEditUserMainTableBody tr td:first-child {
            border-radius: 20px 0px 0px 20px;
        }
        .staffListEditUserMainTableBody tr td:last-child {
            border-radius: 0px 20px 20px 0px;
        }

.staffListEditUserMainAlternative {
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
}

    .staffListEditUserMainAlternative h2 {
        margin: 0px;
        text-align: center;
    }

.staffListEditUserFooter {
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 90%;
}

    .staffListEditUserFooter button {
        background-color: #0037AE;
        border-color: transparent;
        border-radius: 20px;
        color: #ffffff;
        cursor: pointer;
        max-height: 49px;
        outline: transparent 1px solid;
        padding: 15px;
        transition: all 0.5s ease-in-out;
    }

        .staffListEditUserFooter button:hover {
            background: #0095DC;
        }

        .staffListEditUserFooter button:focus {
            outline: #0095DC 1px solid;
        }

.staffListEditUserMain::-webkit-scrollbar {
    width: 10px;
}

.staffListEditUserMain::-webkit-scrollbar-track {
    background: #0037AE;
    border-radius: 10px;
}

.staffListEditUserMain::-webkit-scrollbar-thumb {
    background: #0095DC;
    border-radius: 10px;
}