:root {
    background-image: url(../assets/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: #ffffff;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 400;
}

body {
    margin: 0px;
    min-height: 100vh;
    min-width: 100vw;
}

#root {
    margin: 0px;
}